// aqui se guardaran las variables

// importar tipografia
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');

// importar iconos
@import url('https://file.myfontastic.com/kPwgi22yfm83drgSnQHAJa/icons.css');

// fuentes
$main-font: 'Ubuntu', sans-serif;
$light: 300;
$normal: 400;

// gutter
$gutter: 1em;

// convertir px a em
@function em($element, $parent: 16px) {
	@return ($element / $parent) * 1em;
}

// convertir px a em
@function rem($element) {
	@return ($element / 16px) * 1rem;
}

$font-size: em(14px);
$h3-size: $font-size * 1.15;
$h2-size: $font-size * 1.35;
$h1-size: $font-size * 1.7;

// z-index variables
$z-index: (
	tooltip: 100,
	modal: 500,
	overlay: 700,
	offcanvas: 1000
);

@function z-index($value) {
	@return map-get($z-index, $value);
}

$colors: (
	azul-base: #00B1F3,
	azul-oscuro: #03151F,
	azul-medio: #006BAB,
	azul-claro: #29DAFF,
	rojo: #FF3532,
	rojo-claro: #FF4946,
	gris-oscuro: #19242B,
	gris-claro: #CDCDCD,
	success: #00CB30,
	blanco: #ffffff
	);

@function color($color) {
	@return map-get($colors, $color);
}

@function img($img){
	@return url('../img/#{$img}');
}
