ul.main-menu
	li.main-menu__item
		a(href='#').icon-book.main-menu__link Mis cursos
	li.main-menu__item
		a(href='#').icon-comments.main-menu__link Mis preguntas
	li.main-menu__item
		a(href='#').icon-users.main-menu__link Comunidad
	li.main-menu__item
		a(href='#').icon-user.main-menu__link Perfil
