.main-nav
  header.main-nav__header
    .main-nav__user
      img(src='img/perfil.png').main-nav__user__img
      .main-nav__user_data
        .main-nav__user__name Joalbert González
        .main-nav__user__bio Usuario del Sistema

  include menu