block config
	include ../config/config

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
		title
		link(rel="stylesheet", href="css/styles.css")
	body(class="#{currentPage}")
		block header
		block nav
		block main
