// vista de todos los cursos

.course-card {
  margin-left: $gutter;
  margin-right: $gutter;
  margin-bottom: $gutter * 2;
  position: relative;

  &__img {
    display: block;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: rem(36px);
    background: rgba(#000, .6);
    color: color(blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    font-size: .85em;
  }

  &__progress {
    display: flex;
    &__bar {
      border: 1px solid color(blanco);
      width: rem(65px);
      height: rem(16px);
      margin-right: .5em;
      background: linear-gradient(
        120deg,
        color(rojo) 56%,
        transparent 34%
      );
    }
  }

  .icon-star {
    position: absolute;
    top: 1em;
    left: 1em;
    text-decoration: none;
    color: color(azul-claro);
  }
}